body {
  font: 16px/28px Arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
}

.container {
  width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
}

.header {
  padding: 20px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: #1461c5;
}

.header a:hover {
  text-decoration: underline;
}

.hero {
  height: 250px;
  background-color: #ddd;
  background-image: url(salsa.jpg);
  background-size: cover;
  border-top: 5px solid lightskyblue;
   border-bottom: 5px solid salmon;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 30px;
  font-weight: bold;
  
}

.penulis {
  font-size: 11px;
  margin-top: -30px;
}


.penulis a:hover {
  text-decoration: underline;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
}

.content .penulis a {
  color: salmon;
  text-decoration: none;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}