@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --pink: #ff8ac9;
  --black: #0b0b0b; transform: translateX(100px);
  --glow: rgba(209, 209, 8, 0.4);

}

body {
   font: 16px/28px Arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
 
}


.header {
  padding: 20px;
  text-align: center;
  background: #000;
  border-bottom: 2px solid var(--pink);
}

.header h1 {
  font-size: 40px;
  margin: 0;
  color: var(--pink);
  text-shadow: 0 0 15px var(--glow);
  
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: #1461c5;
}

.header a:hover {
  text-decoration: underline;
}

 .hero {
  height: 400px;
  background-color: var(--pink);
  background-image: url(member\ blackpink.jpg);
  background-size: cover;
  
}

.heroimg {
  background-size: cover;
  transform: translateX(200px);
  color: aqua;
}

.content {
  padding: 25px;
  background: #111;
  border-top: 2px solid var(--pink);
  border-bottom: 2px solid var(--pink);
}
.content h2 {
  color: var(--pink);
}
.content p {
  color: #fce4ec;
  line-height: 1.6;
}

.footer {
  background-color: #f387e5;
  color: #101111;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}